<!DOCTYPE html>
<html lang="en">

<head>
   <title>Aman Sinha</title>
   {% load staticfiles %}
   <link rel="stylesheet" style = {% static 'personal/css/bootstrap.min.css' %} type="text/css">
   <meta charset="utf-8" />
</head>

<body class="body" style="background-color:#f6f6f6">
    <div class = "container-fluid" style = "min-height:95%;">
         <div class = "row">
              <div class = "col-sm-2" >
                   <br>
                   <center>
                      <img src={% static  'personal/img/images.png' %} class ="responsive-img" style ="max-height : 100px;" alt="face" >
                   </center>
              </div>
              <div class = "col-sm-10">
                   <br>
                   <center>
                      <p><h3>iwjbfjwbfojbfoj</h3></p>
                   </center> 
              </div>
         </div>

         <div class="row">
              <div class = "col-sm-2">
                  <div class = "well bs-sidebar affix" id="sidebar" style = "background-color:#f6f6f6">
                       <ui class="nav nav-pills nav-stacked">
                            <li><a href = '/home/'>Home</a></li>
                            <li><a href = '/Contact/'>Contact</a></li>
                            <li><a href = '/blog/'>Blog</a></li>
                       </ui>
                  </div>
              </div>
              <div class = "col-sm-10">
                      <div class = "container-fluid">
                        <br><br>
                        {% block content  %}
                        {% endblock  %}
                      </div>     
              </div>
         </div>
      </div>
  
  <footer>
     <div class="container-fluid" style="margin-left:15px">
       <p><a href ="#" target="blank" >Contact</a>|<a href ="#" target="blank" >Home</a>|<a href ="https://www.facebook.com" target="blank" >Facebook</a></p>

     </div>
  </footer>

</body>

</html>



