{% extends "personal/header.html" %} 
{% block content %}
  <h3>{{post.title}}</h3>
  <h6>on {{post.date}} </h6>
  <div class= "container-fluid">
    {{post.body|safe|linebreaks}}
  </div>
{% endblock %}
